.display {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  text-align           : center;
  color                : white;

  &-winner {
    color     : lime;
    transform : scale(1.2);
    transition: all 0.3s ease-out;
  }

  &-loser {
    color     : red;
    transform : scale(.8);
    transition: all 0.3s ease-out;
  }

  &-curPlayer {
    text-decoration: underline;
  }
}